.iconButtons{
  background-color: transparent;
  border: none  ;
  outline: none;
}

.p-button{
  background-color: darkblue;
  margin: auto;
}
.page-content {
  font-family: Arial;
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.container-side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.labelName {
  font-family: Arial;
  font-size: x-large;
  text-align: center;
  padding-bottom: 10px;
}
.textInput {
  width: 1580px;
}
