<p-toast position="bottom-center"></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="container-side-by-side">
  <div *ngFor="let a of filtered">
    <p-card header="{{a.title}}" subheader="{{a.author}}" [style]="{'width': '330px', 'margin-bottom': '2em', 'margin-left': '20px', 'margin-right': '25px'}">
      <ng-template pTemplate="header">
        <img onerror="this.src='assets/images/uline0.png'" alt="Image" [src]="ImgRouteFor(a.index)">
      </ng-template>
      {{a.content.substring(0,200)}}...
      <ng-template pTemplate="footer">
        <div>
          <span title="Read">
            <button class="iconButtons"> <a [routerLink]="['/read', a.index]"> <i class="pi pi-book"></i> </a> </button>
          </span>
        </div>
        <div *ngIf="a.saved">
          <span title="Save">
          <button (click)="confirmSave($event, a.index)" class="iconButtons"><i class="pi pi-heart-fill"></i></button>
          </span>
        </div>
        <div *ngIf="!a.saved">
          <span title="Save">
          <button (click)="changeSave(a.index)" class="iconButtons"><i class="pi pi-heart"></i></button>
          </span>
        </div>
        <div>
          <span title="Edit">
          <button class="iconButtons" (click)="showEditScreen(a.index)"><i class="pi pi-pen-to-square"></i></button>
          </span>
        </div>
      </ng-template>
    </p-card>
  </div>

  <p-dialog header="Edit Article '{{editArticle.title}}'" [(visible)]="displayEdit" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [maximizable]="false">
    <textarea rows="25" [(ngModel)]="changes" pInputTextarea>{{changes}}</textarea>
    <pre></pre>
    <p-button (onClick)="confirmChanges($event)" label="Save Changes" icon="pi pi-check"></p-button>
  </p-dialog>
</div>

