<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

<p-toast position="bottom-center"></p-toast>
<p-confirmPopup></p-confirmPopup>

<div class="page-content">
<h5><u>{{headerTitle}}</u></h5>

<div *ngIf="title; else no_title">
  <input placeholder="Write Title Here..." class="textInput" type="text" pInputText [(ngModel)]="articleTitle">
</div>

  <ng-template #no_title>
  <div class="mt-4">
    <input placeholder="Write Title Here..." class="textInput ng-dirty ng-invalid mr-2" type="text" pInputText [(ngModel)]="articleTitle">
    <p-message severity="error" text="Title required"></p-message>
  </div>
  </ng-template>

<h5><u>{{headerContent}}</u></h5>

  <div *ngIf="body; else no_body">
    <textarea rows="25" [(ngModel)]="articleContent" pInputTextarea placeholder="Write Article Here..." class="textInput"></textarea>
  </div>

  <ng-template #no_body>
  <textarea rows="25" [(ngModel)]="articleContent" pInputTextarea placeholder="Write Article Here..." class="textInput"></textarea>
  <p-message severity="error" text="Body required"></p-message>
  </ng-template>

  <pre></pre>
<p-button label="Upload" icon="pi pi-arrow-up" (click)="confirmUpload($event)"></p-button>
</div>
